.new-btn{
    border-radius: 50px !important;
}

.advertisement-list-block{
    margin-top: 25px !important;
}

.single-ad-container{
    height: 375px;
    overflow-y: hidden;
 }

 .small-single-ad-container{
    height: 330px !important;
 }

.singleBlock{
    width: 27%;
}

.single-ad-img{
    width: 100%;
    height: 168px;
    border-radius: 5px 5px 0px 0px;
}

.info-page-single-ad-img{
    height: 320px !important;
}

.single-ad-inner-block{
    padding: 10px 20px;
}

.single-ad-category{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 10px;
}

.single-ad-title{
    font-weight: 500;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.info-page-single-ad-title{
    font-size: 34px !important;
}

.single-ad-description{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 10px;
}

.info-page-single-ad-description{
    font-size: 18px !important;
}

.fav-checkbox{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    border-radius: 50%;
}

.fav-img-wrapper{
    position: relative;
}

.nodata{
    color: red;
    font-size: 50px;
    margin-top: 40px;
}